.notification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 30rem;
  max-width: 50rem;
  z-index: 1000;
  color: var(--text-color);
  background-color: var(--primary-theme-color);
  border: 1px solid var(--dark-theme-color);
  border-left: 5px solid transparent;
  padding: 10px 20px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  & .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &.success {
    border-left-color: green;
  }
  &.error {
    border-left-color: red;
  }
  &.info {
    border-left-color: blue;
  }
}
