.button{
    border-radius: 5rem;
    background-color: var(--assent-color-2);
    color: var(--text-color);
    padding: 1.4rem 2.4rem;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: var(--assent-color-1);
        color:var(--text-dark-color);
        transform: scale(1.05);
    }
}
.secondary {
    background-color: transparent;
    border: 1px solid var(--secondary-theme-color);
    color: var(--text-color);
    &:hover {
        background-color: var(--secondary-theme-color);
        color: var(--text-color);
        transform: scale(1.05);
    }
}
.link{
    background-color: transparent;
    color: var(--assent-color-1);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: var(--assent-color-1);
        transform: scale(1.05);
    }
    &:disabled {
        color: var(--secondary-theme-color);
        cursor: not-allowed;
    }
}